# Homework

### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`.

In [2]:
#### Your code here

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [4]:
#### Your code here

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
0   New Haven  Connecticut           58

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [5]:
#### Your code here

- Select the rows in New York.

In [6]:
#### Your code here

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [7]:
#### Your code here

Temperature    51.333333
dtype: float64

- Find the mean and the standard deviation of the temperature of each state.

In [8]:
#### Your code here

      Temperature
             mean        std
State
CT      59.666667   2.886751
NJ      70.000000   2.828427
NY      51.333333  14.640128

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [9]:
#### Your code here

    Capital State
0  Hartford    CT
1    Treton    NJ
2    Albany    NY

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [10]:
#### Your code here

         City State  Temperature Capital
0         NYC    NY           67   False
1      Albany    NY           49    True
2     Buffalo    NY           38   False
3    Hartford    CT           63    True
4  Bridgeport    CT           58   False
5   New Haven    CT           58   False
6      Treton    NJ           72    True
7      Newark    NJ           68   False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [2]:
#### Your code here
# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190, encoding='ISO-8859-1')
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']
country = pd.read_csv('Country.csv', encoding='ISO-8859-1')

In [8]:
# (b)

189

In [10]:
# (c)

Spain

In [22]:
# (d)

                                 GDP
Income Group
High income: OECD     1483917.133333
High income: nonOECD   104349.826087

In [23]:
# (e)

                                                            GDP
Income Group         Region
High income: OECD    East Asia & Pacific         2197267.750000
                     Europe & Central Asia        756704.434783
                     Middle East & North Africa   258217.000000
                     North America               9033012.000000
High income: nonOECD East Asia & Pacific          149624.000000
                     Europe & Central Asia         27766.600000
                     Latin America & Caribbean     27954.800000
                     Middle East & North Africa   214253.142857
                     North America                  5474.000000
                     Sub-Saharan Africa            17697.000000